td {
  font-size: 50px;
  text-align: center;
  color:white;
}

td {
  background-color: black;
  width: 80px;
  height: 80px;
}

#board {
  border: solid 5px black;
}

td.bCell {
  background-color: black;
}

td.wCell {
  background-color: grey;
}

#rowA td:nth-child(odd) {
  background-color: white;
}

#rowB td:nth-child(even) {
  background-color: white;
}

#rowC td:nth-child(odd) {
  background-color: white;
}

#rowD td:nth-child(even) {
  background-color: white;
}

#rowE td:nth-child(odd) {
  background-color: white;
}

#rowF td:nth-child(even) {
  background-color: white;
}

#rowG td:nth-child(odd) {
  background-color: white;
}
#rowH td:nth-child(even) {
  background-color: white;
}
