td {
  font-size: 50px;
  text-align: center;
  color: black;
  border: double 1px black;
}

td {
  background-color: gray;
  width: 70px;
  height: 70px;
}

.selectedPiece {
  color: blue;
}

#board {
  border: solid 5px black;
}

td.bCell {
  background-color: black;
}

td.wCell {
  background-color: gray;
}

table tr:nth-child(odd) td:nth-child(odd) {
  background-color: white;
}

table tr:nth-child(even) td:nth-child(even) {
  background-color: white;
}

#board .possibleMoves {
  background-color: rgba(0, 255, 0, 0.2);
}